{% load static %}

{%for ar in arizalar%}


<div class="{%if ar.ArizaCozumu == 'Girilmedi' %} cardd {% else %} card {%endif%} card-text mt-3">
    <div class="card-header">
      <div class="row">
        <div class="col-8">
          <h5>{{ar.gelenKonu}}</h5>
        </div>
        <div class="col-4" >
          <small class="text-muted">{{ar.create_time}}</small>
        </div>
      </div>
        
    </div>
    <div class="card-body">
      <p class="card-text">{{ar.gelenAciklama|safe|slice:"0:200"}}.......</p>
      <hr>
        <ul>
          <li>
            <small class="text-muted">Kimden: {{ar.gelenAdSoyad}}</small>
          </li>
          <li>
            <small class="text-muted">Mail: {{ar.gelenMail}}</small>
          </li>
          <li>
            <small class="text-muted">Telefon: {{ar.gelenTelefon}}</small>
          </li>         
        </ul>


      <div class="row">
          <div class="col-2">
            <div class="d-grid gap-2">
              <a href="{% url 'arizaDetay' ar.slug %}" class="btn btn-primary">Ayrıntılar</a>
            </div>
              
          </div>
          <div class="col-2">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-danger">Arşivle</button>
            </div>
          </div>
      </div>

      <div class="dropdown show">
</div>
    </div>
    <div class="card-footer text-muted">
      {%if ar.ArizaCozumu == 'Girilmedi' %}
      <p>Çözüm Girilmedi</p>
      {% else %}
      <p>Çözüm Girildi : {{ar.ArizaCozumu|safe|slice:"0:20"}}.... </p>
      {% endif %}
      
    </div>
  </div>


{%endfor%}

<style>
  .cardd {
      position: relative;
      background-color: rgb(205, 211, 253);


  }
</style>