{% load static %}


<h5 class="bas text-center mt-3">Eski Paylaşımlar</h5>
{%for pay in paylasimlarall%}
  

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <a href="{% url 'details' pay.slug %}" title="">
        <img src="{{ pay.gönderiFoto.url }}" class="img-fluid rounded-start mt-3" alt="...">
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{pay.gönderiKonu}}</h5>
        <p class="card-text">{{pay.gönderiAciklama|safe|slice:"0:200"}}</p>
        <p class="card-text"><small class="text-muted">{{pay.göndericiAdi}}</small></p>
        <a href="{% url 'editt' pay.slug %}" class="btn btn-success">Düzenle</a>
        <a href="{% url 'details' pay.slug %}" class="btn btn-primary">İncele</a>
      </div>
    </div>
  </div>
</div>


{%endfor%}

<style>
  .bas {
    
      border-radius: 6px;     
      position: relative;
      background-color: rgb(13,110,253);
      margin-bottom: 2px;
      padding-bottom: 4px;
      color: rgb(255, 255, 255);

  }
</style>

