<div class="container">
  <h5 class="bas text-center mt-3">Arıza / Şikayet Formu</h5>
  <div class="row mt-3">
    <div class="col-8">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <table>
          {{form.media}}
          {{form.as_p}}
          {{firmaform.media}}
          {{firmaform.as_p}}
          
          <button class="btn btn-primary" type="submit">Gönder</button>
        </table>
      </form>
    </div>
  </div>
  <div class="row">
    <hr>
  </div>
</div>

{% for msg in messages%}
<script>
  swal({
  title: "{{msg}}",
  text: "Teşekkürler!",
  icon: "success",
  button: "Devam Et!",
});
</script>
{% endfor %}