
  <div class="row " >
    <div class="col-sm-6"  >
      <div class="card"  style="width: 18rem; " >
        {%for pay in paylasimlarall%}
        <div class="card-body" >
          <a></a>
          <h5 class="card-title">{{pay.gönderiKonu}}</h5>
          <p class="card-text " >{{pay.gönderiAciklama|safe|slice:"0:200"}}</p>
          <p class="card-writer" >Yazar : {{pay.göndericiAdi}}</p>
          <a href="{% url 'details' pay.slug %}" class="btn btn-primary">İncele</a>

        </div>
        {%endfor%}
      </div>
    </div>
</div> 