
  <div class="row " >
    <div class="col-sm-12"  >
      <div class="card"  >
        {%for pay in paylasimlarall%}
          {%if pay.gönderiDurumu %}
           
        <div class="card-body" >
          <a></a>
          <h5 class="card-title">{{pay.gönderiKonu}}</h5>
          <p class="card-text " >{{pay.gönderiAciklama|safe|slice:"0:200"}}</p>
          <p class="card-writer" >Yazar : {{pay.göndericiAdi}}</p>
          <a href="{% url 'details' pay.slug %}" class="btn btn-primary">İncele</a>

        </div>
         {%endif%}
        {%endfor%}
      </div>
    </div>
</div> 