{% extends "basee.html" %}

{% block content %}
{% load crispy_forms_tags %}
    {% include 'partials/_navbar.html' %}

    <style>
      .anamesaj{
        background-color: rgba(252, 16, 16, 0.26);
        border-radius: 6px;  
      }
    </style>
    <style>
      .cözümmesaj{
        background-color: rgba(43, 252, 16, 0.26);
        border-radius: 6px;  
      }
    </style>
      <style>
        .newmesaj{
          background-color: rgba(16, 126, 252, 0.26);
          border-radius: 6px;  
        }
      </style>  
    <style>
      .bas {
        
          border-radius: 6px;     
          position: relative;
          background-color: rgb(13,110,253);
          margin-bottom: 2px;
          padding-bottom: 4px;
          color: rgb(255, 255, 255);

      }
    </style>



    <div class=" container mt-3">
        <div class="row">
            <div class="col-12">
              <h5 class="bas text-center mb-3">Ariza Detay - Çözümler</h5>
              <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-12">
                      <div class="anamesaj card-body">
                        <div class="row">
                          <div class="col-10">
                            <h5 class="card-title">{{detayid.gelenKonu}}</h5> 
                          </div>
                              <div class="col-2 ">
                              <p  class="card-text " ><small  class="text-muted" >{{detayid.create_time}}</small></p>                              </div>
                         </div>
                              <hr>
                              <p class="card-text">{{detayid.gelenAciklama|safe}}</p>
                              <hr>
                              <p class="card-text">Firma : {{detayid.firma_bilgi}}</p>
                              <p class="card-text">Kimden: {{detayid.gelenAdSoyad}}</p>
                              <p class="card-text">Mail: {{detayid.gelenMail}}</p>
                              <p class="card-text">Telefon: {{detayid.gelenTelefon}} </p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
     <hr>
        <div class="container mt-3">
          <div class="row">
            <div class="col-4">
            </div>
            <div class="col-8">
              {% for comment in comments %}
              <!-- <div class="card mb-3">
                      <div class="card-body">                     
                               <h5 class="card-title">Çözüm</h5>                
                               <p class="card-text">       {{ comment.yorum | linebreaks }}</p>                           
                               <p class="card-text">  asdasd </p>  
                                <small class="text-muted">{{ comment.created_on }}</p>                         
                    </div>
             </div> -->
             <div class="cözümmesaj card mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                   <h5 class="card-title">Çözüm</h5>
                  </div>
                  <div class="col-3">
                    <small class="text-muted">       {{ comment.created_on }} </small>                
              
                  </div>
                </div>
                <p class="card-text">       {{ comment.yorum | linebreaks }}</p>   

                <small> <br class="text-muted">  Çözüm giren : {{comment.göndericiUser }} </br></small>

                    
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
    </div>

    <div class="container mt-3">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="newmesaj card mb-3">
            <div class="row g-0">
              <div class="col-md-12">
                <div class=" card-body">
                  {% if new_comment %}
                  <div class="alert alert-success" role="alert">
                    Çözümünüz Alınmıştır
                  </div>
                  {% else %}
                  <h3>Çözüm Giriniz</h3>
                  <form method="post" style="margin-top: 0.5em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary  btn-lg mt-3">Kaydet</button>
                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="col-2"></div>
      </div>
    </div>

    
    <!-- {% for comment in comments %}
    <div class="comments" style="padding: 10px;">
      <p class="font-weight-bold">
        {{ comment.name }}
        <span class=" text-muted font-weight-normal">
          {{ comment.created_on }}
        </span>
      </p>
      {{ comment.yorum | linebreaks }}
    </div>
    {% endfor %} -->




    
    {% endblock %}
    

