{% extends "basee.html" %}
{% load static %}

{% block content %}

    {% include 'partials/_navbar.html' %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-3 mb-2">
              {% include 'partials/_cameliste.html' %}
            </div>
            <div class="col-6 mb-2">
             {% include 'partials/_camecards.html' %}
               
            </div>
            <div class="col-3 mb-2">
              {% include 'partials/_sidebar.html' %}  
            </div>
        </div>
    </div>
    
{% endblock %}